## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [7]:
# Your code here

# There is no duplicates in random.sample. It is in the reference information

sample_list_1 = random.sample(population=range(0,100),k=80)
print (sample_list_1)

[49, 69, 40, 67, 23, 2, 77, 58, 6, 47, 96, 52, 0, 75, 54, 78, 90, 19, 14, 27, 25, 61, 99, 11, 41, 3, 72, 65, 73, 37, 55, 30, 35, 59, 5, 29, 85, 97, 16, 53, 48, 34, 82, 46, 64, 93, 87, 92, 51, 68, 42, 83, 17, 13, 7, 88, 43, 66, 18, 95, 84, 33, 57, 89, 32, 60, 20, 62, 21, 36, 81, 80, 9, 31, 39, 86, 4, 70, 8, 24]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [17]:
# Your code here
set1 = set(sample_list_1)

# print(set1)

print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [12]:
# Your code here
sample_list_2 = []

for s in random.sample(population=range(0,100),k=80):
    sample_list_2.append(s)
    
print(sample_list_2)

[77, 5, 37, 32, 61, 89, 28, 41, 60, 45, 42, 52, 21, 7, 40, 82, 24, 3, 1, 25, 65, 83, 48, 75, 31, 67, 68, 57, 2, 8, 18, 16, 74, 46, 58, 38, 81, 20, 59, 10, 33, 87, 6, 91, 36, 17, 53, 55, 94, 22, 50, 73, 86, 0, 93, 14, 51, 56, 79, 80, 26, 97, 34, 13, 71, 92, 27, 29, 76, 90, 69, 35, 64, 43, 23, 70, 54, 49, 39, 78]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [18]:
# Your code here
set2 = set(sample_list_2)

# print(set2)

print(len(set2))

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [19]:
# Your code here
set3 = set1 - set2

print(set3)

{96, 66, 99, 4, 72, 9, 11, 47, 19, 84, 85, 62, 88, 30, 95}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [15]:
# Your code here
set4 = set2 - set1

print(set4)

{1, 38, 71, 10, 74, 76, 45, 79, 50, 22, 56, 26, 91, 28, 94}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [20]:
# Your code here
# For the shared elements I understand the elements that are similar en both sets. I will use the 'intersection'

set5 = set1.intersection(set2)

print(set5)

{0, 2, 3, 5, 6, 7, 8, 13, 14, 16, 17, 18, 20, 21, 23, 24, 25, 27, 29, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 46, 48, 49, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 64, 65, 67, 68, 69, 70, 73, 75, 77, 78, 80, 81, 82, 83, 86, 87, 89, 90, 92, 93, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [46]:
# Your code here

# I do not understand what excactly is asking you the excercise

import math as m

math_list = ((len(set1), len(set2), len(set3), len(set4), len(set5)))

math_list_set1_set3 = (len(set1)) - (len(set3))


# Set1 and Set2 have a leng of 80, also both of them have 15 different numbers in comparation.

def checking(x):
    cheking1 = x[0] - x[2]
    cheking2 = x[1] - x[3]
    if cheking1 == cheking2:
        return (f' The difference between set1 and set3 is: {cheking1}. The difference between set2 and set4 is: {cheking2}. Both have the same difference')


print(checking(math_list))

 The difference between set1 and set3 is: 65. The difference between set2 and set4 is: 65. Both have the same difference

#### Create an empty set called `set6`.

In [47]:
# Your code here
set6 = set()

print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [50]:
# Your code here
set6.update(set3, set5)

print(set6)

# Cheking

#print(len(set3))
#print(len(set5))
#print(len(set3)+len(set5))
#print(len(set6))

{0, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 14, 16, 17, 18, 19, 20, 21, 23, 24, 25, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 46, 47, 48, 49, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 72, 73, 75, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 95, 96, 97, 99}
15
65
80
80

#### Check if `set1` and `set6` are equal.

In [51]:
# Your code here
def equals (x,y):
    if x == y:
        return True
    
print(equals(set1,set6))

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [54]:
# Your code here
def check_set(x,y):
    check_set_int = y.issubset(x)
    return check_set_int
    

print(check_set(set1,set2))
print(check_set(set1,set3))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [56]:
# Your code here
set_union1 = set3.union(set4).union(set5)

print(set_union1)


set_union2 = set_union1.union(set1).union(set2)

print (set_union2)

#They do not allow duplicates

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [71]:
# Your code here
# The pop method remove the LAST element from any set. But in sets are not index so, there is no possition first or last.
# We can remove the first element if the transform the set to a list and them remove it, but this will be the first item in the set at the moment of transform it to a list.

set_list = list(set1)
print(set_list)
first_set_list = set_list[0]
print(first_set_list)
set_list.remove(first_set_list)
print(set_list)
set_list.append(first_set_list)
print(set_list)
set_list.pop()
print(set_list)

# Or we can just use pop(0)

print('Try it shorter')
set_list2 = list(set1)
print(set_list2)
set_list2.pop(0)
print (set_list2)

[0, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 14, 16, 17, 18, 19, 20, 21, 23, 24, 25, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 46, 47, 48, 49, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 72, 73, 75, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 95, 96, 97, 99]
0
[2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 14, 16, 17, 18, 19, 20, 21, 23, 24, 25, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 46, 47, 48, 49, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 72, 73, 75, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 95, 96, 97, 99]
[2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 14, 16, 17, 18, 19, 20, 21, 23, 24, 25, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 46, 47, 48, 49, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 72, 73, 75, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 95, 96, 97, 99, 0]
[2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 14, 16, 17, 18, 19, 20, 21, 23, 24, 25, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 46, 47, 48, 49, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 72, 73, 75, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 95, 96, 97, 99]
Try it shorter
[0, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 14, 16, 17, 18, 19, 20, 21, 23, 24, 25, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 46, 47, 48, 49, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 72, 73, 75, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 95, 96, 97, 99]
[2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 14, 16, 17, 18, 19, 20, 21, 23, 24, 25, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 46, 47, 48, 49, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 72, 73, 75, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 95, 96, 97, 99]

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [74]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_to_remove = set(list_to_remove)

final_list = set_to_remove - set1

print(final_list)

{1, 91, 79, 71}